name: Trivy Analysis

on:
  push:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  security-events: write

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: config
          ignore-unfixed: true
          skip-dirs: "**/*/.terraform"
          exit-code: 1
          format: sarif
          output: trivy-results.sarif
      - name: Parse SARIF file for annotations
        if: always()
        uses: jontyms/sarif-annotations@v0.0.3
        with:
          annotation-level: low
          sarif-file: trivy-results.sarif
      # When run on main we want to upload the SARIF file to GitHub.
      - name: Upload SARIF result
        if: always() && github.ref == 'refs/heads/main'
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-results.sarif
